::placeholder {
    color: lightgray;
    text-align: center;
    padding-left: 0px;
  }
  .texto-pequeno {
    font-size: 10px;
  }
  
  .margem {
    margin-block: 50px;
  }
  body {
    margin: 0;
    background-image: url(fundo.jpg);
    background-size:auto;
    color: white;
    font-family: 'Pixelify Sans', sans-serif;
  }
  
  .center {
    text-align: center;
  }
  
  .form {
    width: 350px;
    box-sizing: border-box;
    min-height: 500px;
    padding: 20px;
    margin: auto;
    border-radius: 6px;
    background-color: rgba(50,50,50,0.8);
    backdrop-filter: blur(50px);
  
  }
  label {
    display: block;
    margin-block: 0px 5px;
  }
  .auth-input input[type=text], .auth-input input[type=password] {
    width: 100%;
    padding-block: 6px;
    outline: unset;
    padding-inline: 0px;
    display: block;
    background-color: rgb(50,50,50);
    margin-block: 4px 0px;
    color: white;
    text-align: center;
    border-radius: 4px;
    border: 1px solid white;
  }
  
  .auth-input input[type=text]:focus-visible, .auth-input input[type=password]:focus-visible {
    box-shadow: 0 0 0 2px white;
    transition: 300ms;
  }
  
  .auth-input input[type=submit] {
    outline: unset;
    padding-block: 6px;
    width: 100%;
    color: white;
    border-radius: 4px;
    font-weight: bold;
    outline: unset;
    border: unset;
    display: block;
    background-color: rgba(0,255,69,0.5);
  }
  
  .auth-input input[type=submit]:hover {
    background-color: rgba(0,255,69,0.7);
    value:"Confirmar";
  }
  
  .auth-input input[type=submit]:active {
    background-color: rgba(0,255,69,1);
  }
  
a{
  color:white;
}
