body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url('background.jpg'); /* Adiciona a imagem de fundo */
    background-size: cover; /* Faz a imagem cobrir toda a tela */
    margin: 0;
}

.container {
    background-color: rgba(255, 255, 255, 0.8); /* Fundo branco semi-transparente */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.question {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.question h1 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #0000FF; /* Cor azul */
}

.question p {
    font-size: 24px;
    margin-bottom: 30px;
    color: #0000FF; /* Cor azul */
}

.option {
    display: block;
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    font-size: 20px;
    background-color: #FF69B4; /* Cor rosa médio para os botões */
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.option:hover {
    background-color: #FF1493; /* Cor rosa mais forte ao passar o mouse */
}

.try-again {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 20px;
    background-color: #FF69B4;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.try-again:hover {
    background-color: #FF1493;
}

.correct-answer {
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}